<nav class="navbar navbar-expand-lg" style="background-color: beige;">
    <div class="container-fluid">
      <a class="navbar-brand" href="#"></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <a class="nav-link active" aria-current="page" href="{% url 'candidate_dashboard' %}">Home</a>
          <a class="nav-link" href="{%url 'joblist' %}">Applied Jobs</a>
        </div>
      </div>
      <div class="ml-auto">
        <a href="{%url 'logout'%}">
          <i class="fa-solid fa-right-from-bracket" aria-hidden="true"></i>
          <span class="sr-only">Logout</span>
       </a>
      </div>
    </div>
  </nav>